@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cal+Sans&family=Courgette&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-courgette-cursive: "Courgette", cursive;
    --font-acme-animated: "Acme", sans-serif;
    --font-dancing-cursive: "Dancing Script", cursive;
    --font-outfit-elegant: "Outfit", sans-serif;
    --color-blueprimary: #0055ff;
    --color-orangeprimary: #ff5500;

    --color-azul-claro: #4EA8E0;
    --color-dorado-clasico: #D4AF37;
    --color-marron-intenso: #994F0F;
    --color-beige-suave: #ffefce;

    /* Colores Secundarios */
    --color-verde-esperanza: #228B22;
    --color-azul-mariano: #4169E1;
    --color-purpura-real: #663399;
    --color-gris-ceniza: #708090;


    --animate-right-move: right-move 40s linear infinite;
    --animate-shadow-box: shadow-box 8s ease-in-out infinite;

    @keyframes right-move {
        0% {
            transform: translateX(-50%); 
        }
        100% {
            transform: translateX(0%); 
        }
    }


    @keyframes shadow-box{
        0% {
            box-shadow: 0px 0px 5px 5px #D4AF37;
            transform: scale(1.0)
        }

        50% {
            box-shadow: 0px 0px 40px 15px #D4AF37;
            transform: scale(1.1)
        }

        100% {
            box-shadow: 0px 0px 5px 5px #D4AF37;
            transform: scale(1.0)
        }
    }

}

body {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: orange rgb(226, 226, 226);
}

.zoom-object {
    animation: zoom-object linear both;
    animation-timeline: view();
    animation-range: 0 2000px;
}

.scroll-left {
    animation: scroll-left linear both;
    animation-timeline: view();
    animation-range: 0px 3000px;
}

.scroll-right {
    animation: scroll-right linear both;
    animation-timeline: view();
    animation-range: 0px 3000px;
}


.timeline::after {

    content: "";
    position: absolute; 
    top: 10px;
    stroke-width: 100px;
    color: black; 
    background-color: black;
        
}

.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


